.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #003c6c;
  font-weight: 600;
  text-align: center;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.results {
  margin-top: 20px;
}

.resultList {
  list-style-type: none;
  padding: 0;
}

.resultItem {
  margin-bottom: 10px;
  font-size: 18px;
}

.restrictionIcons {
  display: flex;
  flex-wrap: nowrap;
}

.restrictionIcon {
  margin: 5px;
}

.noResults {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}
