
# Django Dependencies
Django>=5.0.4
django-cors-headers>=4.3.1
djangorestframework>=3.15.1

# Webscraping Dependencies
beautifulsoup4>=4.12.3
requests>=2.31.0

# Database Dependencies
pymongo[srv]>=3.12
dnspython

# Python formatting
black>=24.4.2
